@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f7;
}

.container {
  display: grid;
  grid-template-columns: 310px 1fr 1fr 1fr 1.2fr;
  grid-template-rows: 0.4fr 0.3fr 1.2fr 0.1fr 1fr 1fr;
  gap: 12px 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "sidebar header header header header"
    "sidebar activity activity activity activity"
    "sidebar sales visitors totalorders revenue"
    "sidebar revorder revorder revorder revenue"
    "sidebar revorder revorder revorder trending"
    "sidebar invoice invoice invoice trending";
}

.sidebar {
  background-color: #181a19;
  grid-area: sidebar;
  display: block;
  width: 310px;
}

.sidebar a {
  text-decoration: none;
  display: flex;
  padding: 18px;
  color: #7a7979;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  transition: margin 0.4s;
  font-family: "Poppins", sans-serif;
}

.sidebar a i {
  padding-right: 16px;
}

.sidebar .brand {
  font-size: 24px;
  font-weight: 800;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  margin-top: 12px;
  color: #bebaba;
}

.sidebar .content {
  margin-top: 20px;
}

.content :hover {
  background-color: #282828;
  color: #fff;
}

.h_line {
  border-bottom: 3px solid rgb(80, 80, 78);
  width: 290px;
  margin: 5px;
  text-align: center;
}



.header {
  grid-area: header;
  background-color: #fff;
  border-radius: 10px;
}

.header .headernav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-left: 2rem;
  margin-right: 4rem;
}

.headernav ul {
  display: flex;
}


.headernav p {
  color: black;
  font-size: 32px;
  font-family: 'Rubik', sans-serif;

}

input.search {
  width: 260px;
  border: 1px solid black;
  padding: 9px 4px;
  font-family: 'Public Sans', sans-serif;
  color: black;
  border-radius: 5px;
  font-size: 16px;
}

.headericons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 68%;
}


.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #2166e7;
  border-radius: 12px;
  box-sizing: border-box;
  color: #2166e7;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}


.button-23:active {
  background-color: #F7F7F7;
  border-color: black;
  transform: scale(.96);
}


.activity {
  grid-area: activity;
}

.activitycontainer {
  display: flex;
  flex-basis: 50px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.activity h1 {
  color: black;
  font-size: 32px;
  font-family: 'Rubik', sans-serif;
  margin-left: 2rem;
}

.date {
  display: grid;
  grid-template-columns: 0.7fr 2fr 1fr;
  align-items: center;
  margin-right: 4rem;
  font-size: 18px;
  color: #1f2023;
}


.activitycontainer p {
  font-family: 'Rubik', sans-serif;
}


.sales {
  grid-area: sales;
  background-color: #fff;
  border-radius: 10px;
  padding: 4rem;
}


.bag {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}


.sales h1 {
  font-size: 29px;
  font-family: 'Rubik', sans-serif;
}


.sales h2 {
  font-size: 45px;
  font-family: 'Public Sans', sans-serif;
}

.sales h3 {
  font-size: 35px;
  margin-top: 12px;
  font-family: 'Public Sans', sans-serif;
  color: #12c468;
}

.visitors {
  grid-area: visitors;
  background-color: #fff;
  border-radius: 10px;
  padding: 4rem;
}

.users {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.visitors h1 {
  font-size: 29px;
  font-family: 'Rubik', sans-serif;
}


.visitors h2 {
  font-size: 45px;
  font-family: 'Public Sans', sans-serif;
}

.visitors h3 {
  font-size: 35px;
  margin-top: 12px;
  font-family: 'Public Sans', sans-serif;
  color: #12c468;
}



.totalorders {
  grid-area: totalorders;
  background-color: #fff;
  border-radius: 10px;
  padding: 3rem;
}

.orders {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.totalorders h1 {
  font-size: 29px;
  font-family: 'Rubik', sans-serif;
}


.totalorders h2 {
  font-size: 45px;
  font-family: 'Public Sans', sans-serif;
}

.totalorders h3 {
  font-size: 35px;
  margin-top: 12px;
  font-family: 'Public Sans', sans-serif;
  color: #12c468;
}





.revenue {
  grid-area: revenue;
  background-color: #fff;
  border-radius: 10px;
}

.revlayout {
  display: flex;
  height: 20%;
  justify-content: center;
  align-items: center;
}

.revlayout h1 {
  font-size: 28px;
  font-family: 'Rubik', sans-serif;
  margin-right: 2rem;
}



.revorder {
  grid-area: revorder;
  background-color: #fff;
  border-radius: 10px;
}

.revorder h1 {
  font-size: 30px;
  font-family: 'Rubik', sans-serif;
  padding: 1rem;
}




.invoice {
  grid-area: invoice;
  background-color: #fff;
  border-radius: 10px;
}

.invoicetext h1 {
  font-size: 30px;
  font-family: 'Rubik', sans-serif;
  padding: 1rem;
}


.table {
  font-family: 'Mukta', sans-serif;
  color: #4f546c;
  background-color: #f9fbff;
}

table {
  width: 100%;
}

.table thead {
  box-shadow: 0 5px 10px #e1e5ee;
}
.table th {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
}
.table td {
  padding: 1rem 2rem;
}
.table a {
  text-decoration: none;
  color: #2962ff;
}
.table .status {
  border-radius: 0.2rem;
  background-color: red;
  padding: 0.2rem 1rem;
  text-align: center;
}
.table .status-pending {
  background-color: #fff0c2;
  color: #a68b00;
}
.table .status-paid {
  background-color: #c8e6c9;
  color: #388e3c;
}
.table .status-unpaid {
  background-color: #ffcdd2;
  color: #c62828;
}
.table .amount {
  text-align: right;
}
.table tr:nth-child(even) {
  background-color: #f4f6fb;
}


.trending {
  grid-area: trending;
  background-color: #fff;
}


.trending h1 {
  font-size: 30px;
  font-family: 'Rubik', sans-serif;
  padding: 1rem;
}

/* Chart */

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}



.programming-stats {
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 8px 32px;
  color: #023047;
  transition: all 400ms ease;
  
}








/* html,
body,
.container {
  height: 100%;
  margin: 0;
} */